# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ssm\o2o\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
